* {
  font-family: 'Lato', sans-serif;
  color: gray;
}

div {
  padding: 5px;
  border: black 1pt;
}

#social-buttons button {
  color: white;
}
.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
}
.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
}

}
body {
	padding-top: 30px;
}

.profile_photo {
  max-height: 150px;
  border-radius: 100%;
  margin-bottom: 10px
}

.flatmate_photo {
  max-height: 100px;
  max-width: 100px;
  border-radius: 100%;
  position: float;
}

.picks_photo {
  max-height: 100px;
  max-width: 125px;
  border-radius: 20%;
}

.house {
  max-width: 30px;
  margin-bottom: 10px;
}

.RHS {
  background-color: #c0f268;
  border-radius: 10%;
}

ul {
  padding: 0;
}

button {
  margin: 10px;
  padding: 10px;
}

.container {
  background-color: #f9f9f9;
}

.btn-link {
  font-: 50px;
}


